<!-- your html code here -->
<div class="my-5 mx-auto w-75">
<h3 class="mb-2">Contact</h3>
<p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
<div class="d-flex justify-content-center mt-3">
<form class="w-50 bg-light p-4 border rounded-2">
  <div class="mb-3">
    <div class="row">
        <div class="col-4 d-flex justify-content-end">
        <label for="InputEmail1" class="form-label fw-bold">Your E-mail</label>
        </div>
        <div class="col-8">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Your email" required>
            </div>
  </div>
  <div class="row  my-3">
    <div class="col-4">
          <span class="d-flex justify-content-end"><label for="floatingTextarea" class="form-label fw-bold">Your message</label></span>
    </div>
    <div class="col-8">
<div class="form-floating">
  <textarea class="form-control" placeholder="Please enter your message here..." id="floatingTextarea" style="height: 100px"></textarea>
  <label for="floatingTextarea2">Please enter your message here...</label>
</div>
</div>
</div>
  <span class="d-flex justify-content-end"><button type="submit" class="btn btn-primary">Submit</button></span>
</form>
</div>
</div>