<!-- your html code here -->
<div class="container-fluid bg-white d-flex" style="padding: 5%;">
    <div id="text" class="container d-flex flex-column w-75 ps-4">
        <h3>
            <span>This First Heading</span>
            <span class="text-secondary">Will Catch Your Eye</span> 
        </h3>
        <p>Nunc dictum justo eget dui viverra, a venenatis eros porttitor. Nam faucibus, nisl in eleifend efficitur, libero diam porta enim, quis dignissim diam augue nec arcu. Pellentesque ut blandit velit. Aliquam non ipsum in eros.</p>
    </div>
    <div class="ratio ratio-1x1 pe-4" style="max-width: 25%">
        <img class="h-100 w-100 rounded-circle" style="object-fit: cover;" src="https://i.pinimg.com/736x/43/5e/06/435e06ac17f372ad4244605d6374b9dd.jpg" alt="">
    </div>
</div>