<!-- your html code here -->
<div class="container-fluid bg-white d-flex" style="padding: 5%;">
    <div class="ratio ratio-1x1" style="max-width: 25%">
        <img class="h-100 w-100 rounded-circle" style="object-fit: cover;" src="https://www.bandt.com.au/information/uploads/2014/06/computer-420x280.jpg" alt="">
    </div>
    <div id="text" class="container d-flex flex-column w-75">
        <h3>
            <span>The Second Heading</span>
            <span class="text-secondary">Is Pretty Cool Too</span> 
        </h3>
        <p>Mauris fringilla, diam vulputate tempus accumsan, nibh sapien vulputate magna, luctus finibus arcu odio eu elit. Pellentesque et nisi vel arcu scelerisque varius. Proin tristique sodales dui et efficitur. Maecenas laoreet eget arcu eget fermentum. In.</p>
    </div>
</div>